<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Book Record</title>
    <link rel="stylesheet" href="{% static 'css/BRMstyle.css' %}">
  </head>
  <body>
  <div id="header">
      <h1>Book Record Management</h1>
    <div id="nav">
      <a href="/BRMapp/view-books"> View All</a>
      <a href="/BRMapp/new-book">Add New</a>
      <a href="/BRMapp/search-book">Search</a>
    </div>
  </div>
    <div id="main">
      <h1>New Book Record</h1>
      <form  action="/BRMapp/add" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="ADD">
      </form>
  </div>
  </body>
</html>
